body {
    background-color: hsl(315, 100%, 99%);
  }

  header {
    background-color: hwb(316 61% 0%);
    border-bottom: 1.5px solid #454545;
    padding: 0%;
  }

nav h1 {
    color: #060606;
    font-size:56px;
    margin: 0;
    padding-left: 10px;
  }
  
  header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav ul {
    display: flex;
    list-style: none; 
    gap: 20px;
  }
  
  button {
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: #3f2c3e;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }

  .hero {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1px;
  }
  
  .hero .left-side {
    background-color: white;
    width: 800px;
    padding-top: 10px;
    padding-left: 10px;
  }

  #about {
    -ms-flex-align: center;
    padding-left: 300px;
    padding-top: 0px;
    border-radius: 10px;
    width: 200px;
    height: 300px;
  }
  
  .hero .right-side {
    background-color:#e3fffe;
    width: 800px;
    height: 500px;
    padding-top: 10px;
  }

  .hero h1 {
    font-size: 56px;
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
  } 

  .gallery img {
    display: flex;
    width: 200px;
    height: 300px;
    margin:o;
    gap: 0px;
    padding: 10px;
  }

  .gallery ul {
    display: flex;
    list-style: none;
    gap: 20px;
  }

  #heading{
    font-size: 56px;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
  }